<% provide(:title, 'Home') %>

<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>

  <h1>Mini Twitter</h1>
  <p>Página Home app demo Mini Twitter</p>

  <%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
<% end %>
